SECRET=MIICWwIBAAKBgQCZXmukUMWfV15N9L0eONiXy/4ARWNkW5xaF/206ExhKS8sl9aNKC+TM596JrCxwJn9amiILlJ8aGKEUSBLi84fcGlrXLaDRZY6vcQoQriwGM1Ua19iJkRYwOwRe88344hWLV82kmCQ47fV7C+QImYMMRzf9/J2CCRjcj7H/Ph/qQIDAQABAoGAU1KF3oZ3Z0MbG/UrzcCKg6WzAEiyX/KZdiT0lBVkcaDjXTG8wYGkny97o+xjMJ73ykLGOb4Y2DgJ1eMRTZnNyFUXRTfvlFH8hCAzFm1C53xefFREj3gzD3hewRyKVoKZEcHguhC1qiZ9xDAYhZ9CBS0K8ljNG4byMrq82i79ClUCQQDTNaTrShH9lH7xhiieWcRtdRcjtmgHVr9nI1NJfzKquYs+/1Ex1KY/Bv0ITxkUWjirZ4+qvV4H6dS5QhyCjif7AkEAueSpTsTtkh2D02FcmV4hqgz6AxUnCdm06CqH3A0H4fZ4xXlxRuxfF2pCEtu+Rf6B25lgslTdL7EhUevcNLpxqwJAdK7YM5yyH7OgBfKmEgVpvUbIx9QH2LYV+/bKFnqNFUB4Kw+GXc8rIPrNY3+/TT0ivZ7zAdKoVhraiJZ7hazfbQJADEX7o7a+1MHcHU21Vm7vnBGlRCTWYgEcv6NnOvElTxb93FPrVbpvgNVELYiSpH5sRnp29u9Bd0+jmowPCvAwZwJADF4bG/+KPhE/WoDHybI0D/SplHLWTx96SDlJh+/rQkW4HPUQuMW19TwIPLpxutdI5FTLBHxmvkLjb33PZpN9iA==
MONGODB_URL="mongodb://localhost:27017/reprograma
